<%= render_template('admin_header', locals: { user: @authenticated_user }, app_name: 'admin') %>
<div class="sections-wrapper">
  <div class="header">
    <h1>Sections</h1>
    <a href="<%= '/admin/sections/new' %>" class="btn btn-primary">+ New Section</a>
  </div>

  <table class="sections-table">
    <thead>
      <tr>
        <% @columns.map do |column| %>
          <th><%= column %></th>
        <% end %>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td><%= section.id %></td>
          <td><%= section.title %></td>
          <td><%= section.description[..15] %> ..</td>
          <td>
            <a href="<%= "/admin/sections/#{section.id}" %>" class="action-link">Show</a>
            <a href="<%= "/admin/sections/#{section.id}/edit" %>" class="action-link">Edit</a>
            <form action="<%= "/admin/sections/#{section.id}"  %>" method="post" >
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="action-link" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
